@import "tailwindcss";
/* Tailwind v4 Theme Configuration for Fonts */
@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@variant dark (&:where(.dark, .dark *));

@keyframes floatSlow {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

h1, h2, h3, h4, h5, h6, a, button{
  font-family: var(--font-heading) !important;
  text-transform: uppercase !important;
  letter-spacing: 0.05em ;
}

body {
  font-family: var(--font-sans);
}


.animate-bounce-slow {
  animation: floatSlow 3s ease-in-out infinite;
}